ConsoleHost/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50637/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50637/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50637/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SayHelloJson_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloJson" />
  </wsdl:message>
  <wsdl:message name="IService_SayHelloJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsersJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersJson" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsersJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddUserJson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserJson" />
  </wsdl:message>
  <wsdl:message name="IService_AddUserJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SayHello" message="tns:IService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SayHelloResponse" message="tns:IService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddUser" message="tns:IService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddUserResponse" message="tns:IService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHelloJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SayHelloJson" message="tns:IService_SayHelloJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SayHelloJsonResponse" message="tns:IService_SayHelloJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsersJson" message="tns:IService_GetAllUsersJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersJsonResponse" message="tns:IService_GetAllUsersJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddUserJson" message="tns:IService_AddUserJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddUserJsonResponse" message="tns:IService_AddUserJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHelloJson">
      <soap:operation soapAction="http://tempuri.org/IService/SayHelloJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersJson">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsersJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserJson">
      <soap:operation soapAction="http://tempuri.org/IService/AddUserJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50637/Service.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>